{% extends "./base.html" %}
{% block content %}
<div id="welcome">
	<p>
		Welcome to careerhelper.tech! Here we can help you decide on what studies to take to help you reach your career goals. Pick a career using the form below!
	</p>
</div>

<form action="/job-desired/" method="post">
	{% csrf_token %}
	<div id="jobselector">
		<select required class="majorgroup" id="Major group">
			{% for category in majorgroups %}
			<option value="{{category.code}}">{{category.name}}</option>
			{% endfor %}
		</select>
	
		<select required class="minorgroup" id="minorgroup">
			{% for majorgroup in majorgroups %}
			{% for category in majorgroup.minorgroup_set.all %}
			<option value="{{category.code}}">{{category.prettyname}}</option>
			{% endfor %}
			{% endfor %}
		</select>

		<select required class="broadgroup" id="broadgroup">
			{% for majorgroup in majorgroups %}
			{% for minorgroup in majorgroup.minorgroup_set.all %}
			{% for category in minorgroup.broadgroup_set.all %}
			<option value="{{category.code}}">{{category.prettyname}}</option>
			{% endfor %}
			{% endfor %}
			{% endfor %}
		</select>

		<select required class = "job" id="job"> 
			{% for majorgroup in majorgroups %}
			{% for minorgroup in majorgroup.minorgroup_set.all %}
			{% for broadgroup in minorgroup.broadgroup_set.all %}
			{% for category in broadgroup.job_set.all %}
			<option value="{{category.code}}">{{category.prettyname}}</option>
			{% endfor %}
			{% endfor %}
			{% endfor %}
			{% endfor %}
		</select>
	</div>

	<input type="submit" value="Submit" />
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='/home/admin/builds/bower_components/jquery-cascading-dropdown/src/jquery.cascadingdropdown.js'></script>
<script src='dropdown.js'></script>

{% endblock %}
